<!-- <p>intern works!</p> -->

<dx-data-grid [dataSource]="internList" [showBorders]="true" [columnAutoWidth]="true"[columnHidingEnabled]="true">
  <!-- <dxo-paging [pageSize]="10"></dxo-paging> -->
  <!-- <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true"></dxo-pager> -->4

    <dxi-column type="adaptive" [width]="50"></dxi-column> <!-- Optional, for the ⋮ icon -->

  <dxi-column dataField="FullName" caption="Full Name"></dxi-column>
  <dxi-column dataField="Department" ></dxi-column>
  <dxi-column dataField="University" caption="University">
    <dxo-lookup [dataSource]="uni" displayExpr="UniName" valueExpr="UniversityID"></dxo-lookup>
  </dxi-column>
  <dxi-column dataField="Email"></dxi-column>
  <dxi-column dataField="Supervisor" ></dxi-column>
  <dxi-column dataField="InternshipStartDate" dataType="date"></dxi-column>
  <dxi-column dataField="InternshipEndDate" dataType="date"></dxi-column>
  <dxi-column caption="Contacts">
    <dxi-column dataField="City"></dxi-column>
    <dxi-column dataField="Address"></dxi-column>
  </dxi-column>
  
  <!-- <dxi-column dataField="Notes"></dxi-column> -->



</dx-data-grid>