<!-- <p>designation works!</p> -->

<div class="row">
    @if (isLoader) {<div class="col-12 my-2 text-center">
        <div class="spinner-border me-3" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <button class="btn btn-primary ms-2" type="button" disabled>
            <span role="status">Loading...</span>
        </button>
    </div>}
    @else {
    @for (item of designationList; track $index) {
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{item.designation}}</h5>
                <button href="#" class="card-link">Apply</button>
                <a href="#" class="card-link">See more</a>
            </div>
        </div>
    </div>
    }
    }
</div>