<app-alert [alertType]="'Success'" [message]="'Hello from Project page'"></app-alert>

<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-warning">
                Project List - {{firstName()}}
                <button class="btn btn-danger" (click)="changeFName()">Change first name</button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr no</th>
                                    <th>Client Name</th>
                                    <th>Project Name</th>
                                    <th>Employee Name</th>
                                    <th>Start Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of projList(); track $index) {
                                <tr>
                                    <td>{{$index+1}}</td>
                                    <td>{{item.clientName}}</td>
                                    <td>{{item.projectName}}</td>
                                    <td>{{item.empName}}</td>
                                    <td>{{item.startDate | date: "dd-MM-yyyy"}}</td>
                                    <td>
                                        <button class="btn btn-primary me-1">Edit</button>
                                        <button class="btn btn-danger ms-1"
                                        >Delete</button>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-warning">
                New Project
            </div>
            <div class="card-body">
                <form [formGroup]="projectForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Project Name</label>
                            <input type="text" class="form-control" formControlName="projectName">
                            @if(projectForm.controls['projectName'].touched){
                            <div class="text-danger">
                                @if(projectForm.controls['projectName'].errors?.['required']) {
                                <span>This is required</span>
                                }
                                @if(projectForm.controls['projectName'].errors?.['minlength']) {
                                <span>Min 4 chars required</span>
                                }
                            </div>
                            }
                        </div>
                        <div class=" col-6 mt-2">
                            <label for="">Start Date</label>
                            <input type="date" class="form-control" formControlName="startDate">
                        </div>
                        <div class=" col-6 mt-2">
                            <label for="">Expected End Date</label>
                            <input type="date" class="form-control" formControlName="expectedEndDate">
                        </div>
                        <div class=" col-6 mt-2">
                            <label for="">Contact Name</label>
                            <input type="text" class="form-control" formControlName="contactPerson">
                        </div>
                        <div class=" col-6 mt-2">
                            <label for="">Contact Mobile</label>
                            <input type="text" class="form-control" formControlName="contactPersonContactNo">
                        </div>
                        <div class=" col-6 mt-2">
                            <label for="">Contact Email</label>
                            <input type="email" class="form-control" formControlName="contactPersonEmailId">
                        </div>
                        <div class=" col-6 mt-2">
                            <label for="">Total Employee Count</label>
                            <input type="text" class="form-control" formControlName="totalEmpWorking">
                        </div>
                        <div class=" col-6 mt-2">
                            <label for="">Project Costing</label>
                            <input type="text" class="form-control" formControlName="projectCost">
                        </div>
                        <div class=" col-12 mt-2">
                            <label for="">Project Description</label>
                            <textarea class="form-control" formControlName="projectDetails"></textarea>
                        </div>
                        <div class=" col-6 mt-2">
                            <label for="">Project Detail</label>
                            <select class="form-control" formControlName="clientId">
                                <option value="">Select Client</option>
                                @for (item of clientList; track $index) {
                                <option [value]="item.clientId">{{item.companyName}}</option>
                                }
                            </select>
                        </div>
                        <div class=" col-6 mt-2">
                            <label for="">Lead By</label>
                            <select class="form-control" formControlName="leadByEmpId">
                                <option value="">Select Employee</option>
                                @for(item of empList; track $index){
                                <option [value]="item.empId">{{item.empName}} -- {{item.empCode}}</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <button class="btn btn-secondary">Reset</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-success" (click)="onSaveProject()" [disabled]="projectForm.invalid">
                                Save Project
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>